#if( $canshowadmintoolba || $user.isInGroup("administrators") )

#set ( $origURL=$context.getRequestParameter( "origURL" ) )
#set ( $path = $context.getRequestParameter( "path" ) )
#if ( !$path )
	#set( $path = $content.path )
#end
#set( $path = $url_util.encode($path) )
<link rel="stylesheet" type="text/css" href="$home/openedit/components/toolbar/toolbar.css"/>
<div id="oeadmintoolbarlocation" class="oeadmintoolbarlocation" style="position:absolute">
			
	#set( $id = $plugin.id )

<ul class="oeglossymenu">
	<li><a href="$home/index.html" target="_parent"><img border="0" src="$home/openedit/theme/images/toolbar/home.gif" title="[[Home]]"/> [[Home]]</a></li>
	
#set( $canfilemanager = $pages.canView("/openedit/views/filemanager/"))	
	
	#if($canfilemanager)
	<li><a href="$home/openedit/views/filemanager/index.html" target="_parent"><img border="0" src="$home/openedit/theme/images/toolbar/filemanager.gif" title="[[filemanager]]"/> [[File Manager]]</a></li>
	<li><a href="$home/openedit/views/filemanager/clearpagemanager.html?origURL=$!origURL" ><img border="0" src="$home/openedit/theme/images/toolbar/filemanager.gif" title="[[filemanager]]"/> [[Clear Page Cache]]</a></li>
	
	#end
	
	#set( $mode = $user.get("oe_edit_mode") )
	<li><a class="oemodechange #if( $mode == "preview")oeglossyselected #end" href="$home/openedit/views/workflow/mode/viewpreview.html?origURL=$origURL" ><img src="$home/openedit/theme/images/toolbar/modepreview.gif" border="0" title="Live Mode" /> [[Live Mode]]</a></li>
	<li><a class="oemodechange #if( $mode == "editing")oeglossyselected #end" href="$home/openedit/views/workflow/mode/viewediting.html?origURL=$origURL" ><img src="$home/openedit/theme/images/toolbar/modeeditor.png" border="0" title="Edit Mode" /> [[Edit Mode]]</a></li>
	#if($canopeneditdebug  || $user.hasPermission("oe.administration"))
	<li><a class="oemodechange #if( $mode == "debug")oeglossyselected #end" href="$home/openedit/views/workflow/mode/viewdebug.html?origURL=$origURL" ><img src="$home/openedit/theme/images/toolbar/modedebug.gif" border="0" title="Debug Mode" /> [[Debug Mode]]</a></li>
	<li><a class="oemodechange #if( $mode == "postedit")oeglossyselected #end" href="$home/openedit/views/workflow/mode/postedit.html?origURL=$origURL" ><img src="$home/openedit/theme/images/toolbar/modedebug.gif" border="0" title="Debug Mode" /> [[Post Edit Mode]]</a></li>
	#end
	<li><a class="oemodechange" href="$home/openedit/authentication/logout.html"><img src="$home/openedit/theme/images/toolbar/logout.gif" border="0" title="Logout" /> [[Logout]]</a></li>
		
</ul>
</div>

#end
