#if( $canshowadmintoolbar || $user.isInGroup("administrators") )
	#set ( $origURL=$context.getRequestParameter( "origURL" ) )
	<link rel="stylesheet" type="text/css" href="$home/openedit/components/toolbar/toolbar.css" />
	<div id="oeadmintoolbarlocation" class="oeadmintoolbarlocation" style="position:absolute">
		#set( $id = $plugin.id )
		<ul class="oeglossymenu">
			<li>
				<a href="$home/index.html" target="_parent" title="Home">
					<img src="$home/openedit/theme/images/toolbar/home.svg" alt="[[Home]]"/> [[Home]]
				</a>
			</li>
			#set( $canfilemanager = $pages.canView("/openedit/views/filemanager/"))
			#if($canfilemanager)
				<li>
					<a href="$home/openedit/views/filemanager/index.html" target="_parent" title="FileManager">
						<img src="$home/openedit/theme/images/toolbar/filemanager.svg" alt="[[File Manager]]"/> [[File Manager]]
					</a>
				</li>
				<li>
					<a href="$home/openedit/views/filemanager/clearpagemanager.html?origURL=$!origURL" target="_parent" title="ClearPageCache">
						<img src="$home/openedit/theme/images/toolbar/clearcache.svg" alt="[[Clear Page Cache]]"/> [[Clear Page Cache]]
					</a>
				</li>
			#end
			#set( $mode = $user.get("oe_edit_mode") )
			<li>
				<a class="oemodechange #if( $mode == "preview") oeglossyselected #end" href="$home/openedit/views/workflow/mode/viewpreview.html" title="PreviewMode">
					<img src="$home/openedit/theme/images/toolbar/modepreview.svg" alt="[[Live Mode]]" /> [[Preview Mode]]
				</a>
			</li>
			<li>
				<a class="oemodechange #if( $mode == "editing") oeglossyselected #end" href="$home/openedit/views/workflow/mode/viewediting.html" title="EditMode">
					<img src="$home/openedit/theme/images/toolbar/modeeditor.svg" alt="[[Edit Mode]]" /> [[Edit Mode]]
				</a>
			</li>
			#if($canopeneditdebug  || $user.hasPermission("oe.administration"))
				<li>
					<a class="oemodechange #if( $mode == "postedit") oeglossyselected #end" href="$home/openedit/views/workflow/mode/postedit.html" title="PostEditMode">
						<img src="$home/openedit/theme/images/toolbar/modepostedit.svg" alt="[[Debug Mode]]" /> [[Post Edit Mode]]
					</a>
				</li>
				<li>
					<a class="oemodechange #if( $mode == "debug") oeglossyselected #end" href="$home/openedit/views/workflow/mode/viewdebug.html" title="DebugMode">
						<img src="$home/openedit/theme/images/toolbar/modedebug.svg" alt="[[Debug Mode]]" /> [[Debug Mode]]
					</a>
				</li>
				<li>
					<a class="oemodechange #if( $mode == "live") oeglossyselected #end" href="$home/openedit/views/workflow/mode/viewlive.html" title="CacheMode">
						<img src="$home/openedit/theme/images/toolbar/modecache.svg" alt="[[Cache Mode]]" /> [[Cache Mode]]
					</a>
				</li>
				<li>
					<a class="oemodechange #if( $mode == "nocache") oeglossyselected #end" href="$home/openedit/views/workflow/mode/nocache.html" title="NoCacheMode">
						<img src="$home/openedit/theme/images/toolbar/modenocache.svg" alt="[[No Cache Mode]]" /> [[No Cache Mode]]
					</a>
				</li>
			#end
			<li>
				<a class="oemodechange" href="$home/openedit/authentication/logout.html" title="Logout">
					<img src="$home/openedit/theme/images/toolbar/logout.svg" alt="[[Logout]]" /> [[Logout]]
				</a>
			</li>
		</ul>
	</div>
#end
