#set ( $editPath = $editorSession.getEditPath() )
#set ( $origURL = $context.getRequestParameter("origURL") )

<div id="openedit" style="height: 100%;"> 
<table width="100%" height="100%">
	<tbody><tr>
	<td style="vertical-align: top; width: 119px; ">

  <b class="spiffy">
  <b class="spiffy1"><b></b></b>
  <b class="spiffy2"><b></b></b>

  <b class="spiffy3"></b>
  <b class="spiffy4"></b>
  <b class="spiffy5"></b></b>
  <div class="spiffyfg">
  
  $pages.include("/openedit/components/html/edit/menu.html")
	</div>

  <b class="spiffy">
  <b class="spiffy5"></b>
  <b class="spiffy4"></b>
  <b class="spiffy3"></b>

  <b class="spiffy2"><b></b></b>
  <b class="spiffy1"><b></b></b></b>


	</td>
	<td style="vertical-align: top;" >
	  <b class="spiffytwo">
	  <b class="spiffytwo1"><b></b></b>
	  <b class="spiffytwo2"><b></b></b>

	  <b class="spiffytwo3"></b>
	  <b class="spiffytwo4"></b>
	  <b class="spiffytwo5"></b></b>
	  <div class="spiffyfgtwo">
			<div class="oeeditorarea">
			
			
				$pages.includeContent()
				
			</div>

	  </div>	
	  <b class="spiffytwo">
	  <b class="spiffytwo5"></b>
	  <b class="spiffytwo4"></b>
	  <b class="spiffytwo3"></b>
	  <b class="spiffytwo2"><b></b></b>
	  <b class="spiffytwo1"><b></b></b></b>

</td>
</tr>
</tbody></table>
</div>
