

#set( $sections = ["htmledit","text","preview", "seo","versions","styles","scripts", "properties"] )
#set( $thissection = $content.section )
#set($origURL = $context.getRequestParameter('origURL'))
			<ul class="nav nav-tabs">
#foreach( $section in $sections )


  

			#set( $img = "/openedit/components/html/theme/images/${section}.png")
			#set( $link = "$home/openedit/components/html/edit/${section}/index.html?width=1000&editPath=$context.getRequestParameter('editPath')&textheight=500px&origURL=$!origURL")
	<li #if($thissection == $section)  class="active" #end>		<a href="$link"  ><img border=0 src="$img"> $context.getText($content.get($section))</a></li>
			

#end
</ul>			