<div id="application"  data-home="$home" data-apphome="$apphome" data-themeprefix="${themeprefix}" data-browserlanguage="$!{browserlanguage}">   
   
   #if($content.isPropertyTrue("showbanner"))
    <div>
    <img class="img img-responsive" src="$apphome/theme/images/banner.png" style="width: 100%;"/>
    </div>
#end
 $pages.include("$apphome/theme/layouts/nav.html")
   

 $pages.includeContent()

   
  
  
  <!-- Modal -->
  <div class="modal" id="editmodal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="modal-title">Modal title</h4>
        </div>
        <div class="modal-body" id="edit-modal-body">
          ...
        </div>
      
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  
  
 
</div>